.chart{
  flex: 4;
  padding: 10px;
  border-radius: 10px;
  color: gray;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);

  .title{
    font-size: 18px;
    margin-bottom: 10px;
  }
  .chartGrid{
    stroke: lightgray;
  }
}