.sidebar {
  flex: 1;
  border-right: 0.5px solid lightgray;
  min-height: 100vh;
  background: white;

  .top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      font-size: 20px;
      font-weight: bold;
      color: #6439ff;
    }
  }
  hr {
    height: 0;
    border: lightgray;
  }
  .center {
    padding-left: 10px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      .title {
        font-size: 14px;
        font-weight: bold;
        margin: 10px 0 5px 0;
      }
      .sidebtn {
        display: flex;
        align-items: center;
        padding: 5px;
        margin: 5px 0;
        border-radius: 5px;
        width: fit-content;
        cursor: pointer;
        transition: .2s;

        &.active, &:hover {
          background-color: #ece8ff;
        }

        span {
          margin-left: 5px;
          font-size: 14px;
          font-weight: 600;
          color: #888;
          padding-right: 10px;
        }

        .icon {
          font-size: 18px;
          color: #6439ff;
        }
      }
    }
  }
  .bottom {
    display: flex;
    margin: 10px;

    .colorOption {
      height: 20px;
      width: 20px;
      border-radius: 3px;
      border: 1px solid #6439ff;
      margin: 5px;

      &:nth-child(1) {
        background-color: whitesmoke;
        cursor: pointer;
      }
      &:nth-child(2) {
        background-color: #333;
        cursor: pointer;
      }
    }
  }
}
